<div style="max-width: 440px !important;">
    <!-- Toolbar -->
    <div class="toolbar" role="banner">
        <button type="button" mat-button (click)="drawer.toggle()">
            <i class="flaticon-signs-1" style="font-size: 20px;margin-right: 12px;color: #fff;"></i>
        </button>
        <h2>Mingalar</h2>
        <div class="spacer"></div>
        <i class="flaticon2-world" style="font-size: 20px;margin-right: 12px;" (click)="switchLang()"></i>
        <i class="flaticon2-notification" style="font-size: 20px;margin-right: 12px;"></i>
        <i class="flaticon2-refresh-button" style="font-size: 20px;margin-right: 12px;"></i>
    </div>

    <mat-drawer-container class="container" autosize>
        <mat-drawer #drawer class="sidenav" mode="over">
            <p>Auto-resizing sidenav</p>
            <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
            <button routerLink="/" mat-raised-button>
               Home
            </button>
        </mat-drawer>

        <div class="sidenav-content">
            <router-outlet></router-outlet>
        </div>


        <!-- <div class="footer"> -->
        <mat-tab-group animationDuration="2000ms" class="tab-bottom" backgroundColor="primary">
            <mat-tab>
                <ng-template mat-tab-label style="display: grid;">
                  <mat-icon class="example-tab-icon">home</mat-icon>
                  Home
                </ng-template>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label style="display: grid;">
                  <mat-icon class="example-tab-icon">account_balance_wallet</mat-icon>
                  Wallet
                </ng-template>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label style="display: grid;">
                  <mat-icon class="example-tab-icon">card_giftcard</mat-icon>
                  Promotion
                </ng-template>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label style="display: grid;">
                  <mat-icon class="example-tab-icon">call</mat-icon>
                  Service
                </ng-template>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label style="display: grid;">
                  <mat-icon class="example-tab-icon">person</mat-icon>
                  Me
                </ng-template>
              </mat-tab>
        </mat-tab-group>
        <!-- </div> -->

    </mat-drawer-container>
</div>