.amount-text{
    height: 60px;
    background-color: #fff;
    border-radius: 10px;
    margin: 15px;
    width: 93%;
    position: absolute;
  }

  .mat-tab-group {
    margin-bottom: 48px;
  }

  .cash-number{
    position: absolute;
    right: 0;
    margin-top: 10px;
  }


    